.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: rgb(64, 86, 211);
}

.items {
    max-width: 300px;
    height: 300px;
    background: #ECECEC
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(19, 3, 3);
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}