/* You can add global styles to this file, and also import other style files */
/* styles */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* fonts */
@import '~font-awesome/css/font-awesome.css';

.axis .domain {
    display: none;
  }
body{
  background-color: #ffffff;
  background-image: url("./assets/brushed-alum.png");
}
