<div class="jumbotron">
  <h1>Gallery goes here</h1>
  <p>Dev Studio is the coolest thing since sliced bread...</p>
</div>
<app-our-faces>

</app-our-faces>

<div class="row">
  <div class="col-12">
    <app-bar-chart>

    </app-bar-chart>
  </div>
</div>

<div class="row">
  <div class="col-3 col-bottom-margin" *ngFor="let project of projects">
    <!-- <div class="temp-css">Project Card Component goes here</div> -->

    <app-project-card
      [projectData]="project.data"
    ></app-project-card>
  </div>
</div>
